@page "/register"
@using Tasker.UI.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>Register</h3>
<EditForm Model="loginModel" OnValidSubmit="HandleLogin">
    <InputText @bind-Value="loginModel.Email" />
    <InputText type="password" @bind-Value="loginModel.Password" />
    <button type="submit">Register</button>
</EditForm>

@code {
    RegisterModel loginModel = new RegisterModel();

    async Task HandleLogin()
    {
        string success = await AuthService.Register(loginModel);
        if (success is not null) Navigation.NavigateTo("/");
    }
}