@using Tasker.DataAccess
@using Tasker.UI.Services
@inject IGroupsManager _groupsManager 
@inject NavigationManager NavigationManager

<button class="btn btn-primary" @onclick="CreateGroup">Create Group</button>


@foreach (var group in _groups)
{
    <div class="card mb-3">
        <div class="card-body">
            <button @onclick="() => OpenGroup(group.GroupId)"><h5 class="card-title">@group.Name</h5></button>
        </div>
    </div>
}

@code {
    private List<Group> _groups = new();

    protected override async Task OnInitializedAsync()
    {
        _groups = await _groupsManager.GetAllGroups();
    }
    private async Task CreateGroup(MouseEventArgs args)
    {
        await _groupsManager.CreateGroup("New Group" + (_groups.Count + 1).ToString());
        StateHasChanged();
    }
    private void OpenGroup(long groupId)
    {
        NavigationManager.NavigateTo($"/group/{groupId}");
    }
}
